<header>
    <div id="header">
        <div id="heading-text">
            <a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a>
            <p>Blood Bank Application</p>
            <p><a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a></p>
  
        </div>
    </div>
    
  </header>
  <div id="top-bar" class="logout">
      <button (click)="Cart()"  class="button"  >Cart</button>

    <button (click)="logout()" class="button"  >Logout</button>
</div>
    
  <section class="event">
    <div class=pic>
        <section class="event">
            <div class="big">
                <section class='intro'>
                    <h3 class="center" ><em>Blood Type: AB+</em></h3>
                </section>
            </div>
        </section>
    </div>
    <section class="event">
      <div class="big">
          <section class='intro'>
            <h3 class="center"><em>Available Units: {{blood}}  </em></h3>
          </section>
  
    
          
            <form class="form" >
                <label >Amount:  </label>
                <input type="text":focus class="textbox" id="qty" placeholder="Enter the amount of blood required" required>
    
                <button (click)="addtoCart1()" class="button1" routerLink="/Cart" >Add to Cart</button>
            </form>
        
  
  </div>
  </section>
  <footer>
    &copy; Blood Bank Inc. &nbsp;&nbsp;
    <a href="#" class="fa fa-facebook"></a>&nbsp;
    <a href="#" class="fa fa-twitter"></a>
  </footer>