  <header>
    
        <div id="header">
            <div id="heading-text">
                <a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a>
                <p>Blood Bank Application</p>
                <p><a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a></p>
      
            </div>
        </div>
        <div id="top-bar">
                <ul>
                    <li><a routerLink="/homepage">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a routerLink="/login">Sign In</a></li>
                    <li><a routerLink="/register">Register</a></li>​
                </ul>
            </div>
        <section class="event">
            <div class=pic>
                <section class="event">
                    <div class="big">
                        <section class='intro'>
                            <h3 class="center"><em>REGISTER</em></h3>
                        </section>
    <div>
        
        <form class="form" onsubmit="return checkForm(this);"  >
            <label >Hospital Name</label>
            <input [(ngModel)]="registerUserData.hospitalName"[(ngModel)]="user.hospitalName" name="hospitalName" type="text":focus class="textbox" placeholder="Hospital Name" required minlength="5" maxlength="8" required>
            <!-- <p>hospitalName: <input type="text" name="hospitalName"></p> -->
 
            <label >Address</label>
            <input [(ngModel)]="registerUserData.address" [(ngModel)]="user.address"name="address"type="text":focus class="textbox" placeholder="Hospital Address" required>
            <label >City</label>
            <input [(ngModel)]="registerUserData.city"[(ngModel)]="user.city" name="city"type="text":focus class="textbox" placeholder="Hospital City" required>
            <label >State</label>
            <input [(ngModel)]="registerUserData.state"[(ngModel)]="user.state" name="state"type="text":focus class="textbox" placeholder="Hospital State" required>
            <label >Zipcode</label>
            <input [(ngModel)]="registerUserData.zipcode"[(ngModel)]="user.zipcode" name="zipcode"type="text":focus class="textbox" placeholder="Hospital Zipcode" required>
            <label >Hospital ID</label>
            <input [(ngModel)]="registerUserData.hospitalId"[(ngModel)]="user.hospitalId" name="hospitalId"type="text":focus class="textbox" placeholder="Hospital ID" required>
            <label >Password</label>
            <input [(ngModel)]="registerUserData.password"[(ngModel)]="user.password" name="password" id="password"type="password":focus class="textbox" placeholder="Password" onkeyup='check_pass();' required>
            <!-- <p>Password: <input type="password" name="password"></p> -->
            <label >Confirm Password</label>
            <input [(ngModel)]="registerUserData.ConfirmPassword"[(ngModel)]="user.ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword"type="password":focus class="textbox" placeholder="Confirm Password"onkeyup='check_pass();' required>
            <!-- <p>Confirm Password: <input type="password" name="ConfirmPassword"></p> -->

            <button (click)="registerUser()" class="button" id="submit" type="submit" >Submit</button>
           <!-- <p> <input  type="submit" onclick="registerUser()"  ></p> -->

        </form>
       
        
    </div>  
