<header>
        <div id="header">
            <div id="heading-text">
                <a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a>
                <p>Blood Bank Application</p>
                <p><a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a></p>
      
            </div>
        </div>
        <section class="event">
            <div class=pic>
                <section class="event">
                    <div class="big">
                        <section class='intro'>
                            <h3 class="center"><em>REGISTER</em></h3>
                        </section>
    <div>
        <form class="form">
            <label >Hospital Name</label>
            <input [(ngModel)]="registerUserData.hospitalName" name="hospitalName" type="text":focus class="textbox" placeholder="Hospital Name" required>
            <label >Address</label>
            <input [(ngModel)]="registerUserData.address" name="address"type="text":focus class="textbox" placeholder="Hospital Address" required>
            <label >City</label>
            <input [(ngModel)]="registerUserData.city" name="city"type="text":focus class="textbox" placeholder="Hospital City" required>
            <label >State</label>
            <input [(ngModel)]="registerUserData.state" name="state"type="text":focus class="textbox" placeholder="Hospital State" required>
            <label >Zipcode</label>
            <input [(ngModel)]="registerUserData.zipcode" name="zipcode"type="text":focus class="textbox" placeholder="Hospital Zipcode" required>
            <label >Hospital ID</label>
            <input [(ngModel)]="registerUserData.hospitalId" name="hospitalId"type="text":focus class="textbox" placeholder="Hospital ID" required>
            <label >Password</label>
            <input [(ngModel)]="registerUserData.password" name="password"type="password":focus class="textbox" placeholder="Password" required>
            <label >Confirm Password</label>
            <input [(ngModel)]="registerUserData.ConfirmPassword" name="ConfirmPassword"type="password":focus class="textbox" placeholder="Confirm Password" required>
            <button (click)="registerUser()">Submit</button>
        </form>
    </div>  
    