<header>
        <div id="header">
            <div id="heading-text">
                <a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a>
                <p>Blood Bank Application</p>
                <p><a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a></p>
      
            </div>
        </div>
        <section class="event">
            <div class=pic>
                <section class="event">
                    <div class="big">
                        <section class='intro'>
                            <h3 class="center"><em>REGISTER</em></h3>
                        </section>
    <div>
        <form class="form">
            <label >Hospital Name</label>
            <input type="text":focus class="textbox" placeholder="Hospital Name">
            <label >Address</label>
            <input type="text":focus class="textbox" placeholder="Hospital Address">
            <label >City</label>
            <input type="text":focus class="textbox" placeholder="Hospital City">
            <label >State</label>
            <input type="text":focus class="textbox" placeholder="Hospital State">
            <label >Zipcode</label>
            <input type="text":focus class="textbox" placeholder="Hospital Zipcode">
            <label >Hospital ID</label>
            <input type="text":focus class="textbox" placeholder="Hospital ID">
            <label >Password</label>
            <input type="text":focus class="textbox" placeholder="Password">
            <label >Confirm Password</label>
            <input type="text":focus class="textbox" placeholder="Confirm Password">
            <ul><li><a href="homepage.html">Submit</a></li></ul>
        </form>
    </div>
    