<header>
    <div id="header">
        <div id="heading-text">
            <a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a>
            <p>Blood Bank Application</p>
            <p><a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a></p>
  
        </div>
    </div>
    <section class="event">
        <div class=pic>
            <section class="event">
                <div class="big">
                    <section class='intro'>
                        <h3 class="center"><em>LOGIN</em></h3>
                    </section>
<div>
    <form class="form">
        <label >Hospital ID </label>
        <input [(ngModel)]="loginUserData.hospitalId" name="HospitalID"type="text":focus class="textbox" placeholder="Hospital ID">
        <label >Password </label>
        <input [(ngModel)]="loginUserData.password" name="password"type="password":focus class="textbox" placeholder="Password">
        <button (click)="loginUser()">Submit</button>
    </form>
</div>
