<header>
    <div id="header">
        <div id="heading-text">
            <a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a>
            <p>Blood Bank Application</p>
            <p><a href="index.html"><img src="../../assets/images/logo.png" alt="Blood Bank logo" /></a></p>
  
        </div>
    </div>
    
  </header>
  <div id="top-bar" class="logout" >

      <button (click)="Cart()"  class="button"  >Cart</button>

    <button (click)="logout()" class="button"  >Logout</button>

</div>

    
  <section class="event">
    <div class=pic>
        <section class="event">
            <div class="big">
                <section class='intro'>
                    <h3 class="center"><em>Welcome to the dashboard</em></h3>
                </section>
  <!-- <ul><li><a href="emergency.html">Emergency</a></li></ul> -->
            </div>
        </section>
    </div>
    <section class="event">
      <div class="big">
          <section class='intro'>
            <h3 class="center"><em>Blood Groups</em></h3>
          </section>
  
    
    <ul>
      <li><a routerLink="/blood-availability-page" >A+</a></li>
      <li><a routerLink="/blood-availability-page-aneg" >A-</a></li>
      <li><a routerLink="/blood-availability-page-bpos" >B+</a></li>
      <li><a routerLink="/blood-availability-page-bneg" >B-</a></li>
  </ul>
  <ul>
    <li><a routerLink="/blood-availability-page-opos" >O+</a></li>
    <li><a routerLink="/blood-availability-page-oneg" >O-</a></li>
    <li><a routerLink="/blood-availability-page-abpos" >AB+</a></li>
    <li><a routerLink="/blood-availability-page-abneg" >AB-</a></li>
  </ul>
  
  </div>
  </section>
  <footer>
    &copy; Blood Bank Inc. &nbsp;&nbsp;
    <a href="#" class="fa fa-facebook"></a>&nbsp;
    <a href="#" class="fa fa-twitter"></a>
  </footer>